# Byte‐compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
.venv/
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.json

# MacOS metadata
.DS_Store

# IDE/editor settings
.vscode/

# build artefacts
*.egg-info/
dist/
build/

# Jupyter noise
.ipynb_checkpoints/

# data
data/*
!data/README.md   # keep a pointer explaining where to get the data